.product-description {
	width: 40%;
	padding: 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.description-wrapper {
	text-align: left;
}

.sneaker-company {
	text-transform: uppercase;
	letter-spacing: 3px;
	color: var(--orange);
	font-weight: 600;
}

.fles-title {
	margin: 1rem 0 2rem 0;
	font-size: 46px;
}

.fles-des {
	color: var(--dark-grayish-blue);
}

.price-discount {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 2rem 0 0 0;
}

.price {
	font-size: 30px;
	font-weight: 600;
}

.discount {
	background-color: var(--pale-orange);
	color: var(--orange);
	padding: 0.25rem 0.5rem;
	font-weight: 600;
	border-radius: 15%;
	margin: 0 1rem;
}

.original-price {
	color: var(--grayish-blue);
	font-weight: 600;
	text-decoration: line-through;
	margin: 0.5rem 0;
}

.button-container {
	margin-block: 3rem;
}

.change-amount {
	padding: 1rem 0.5rem;
	background: var(--light-grayish-blue);
	border-radius: 0.75rem;
	display: inline;
	justify-content: space-between;
	align-items: center;
}

.minus-button,
.plus-button {
	border: none;
	outline: none;
	background: none;
	/* color: var(--orange);
	font-size: medium;
	font-weight: 600; */
	margin: auto 1rem;
	text-align: center;
}

.current-amount {
	width: 2rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: medium;
	font-weight: 600;
}

.add-to-cart {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 4rem;
	margin: 0 2rem;
	border-radius: 0.75rem;
	background-color: var(--orange);
	color: white;
	text-align: center;
	font-size: medium;
	font-weight: 600;
	font-size: small;
	gap: 0.5rem;
	border: none;
	outline: none;
}

.add-to-cart-icon {
	filter: brightness(100);
	height: 1rem;
}
